In [26]:
import pandas as pd
import numpy as np

sales = pd.read_csv('DEPT/백화점_하루매출.csv', sep=',')
sales = pd.DataFrame(sales.values[:10, -1], columns=['sales']) # 첫번째 행은 index라서
arr_sales = np.asarray(sales)
sales.head()

       sales
0  75.292573
1  85.756021
2  86.162663
3  81.170420
4  84.362377

In [27]:
all_pur = []
filename = 'DEPT/백화점_구매지수_1.csv' # 첫번째 행은 index라서
pur = pd.read_csv(filename)

for i in range(1, 11):
    filename = 'DEPT/백화점_구매지수_' + str(i) + '.csv' # 첫번째 행은 index라서
    pur = pd.read_csv(filename)
    pur = pur.iloc[:, 1:]
#     print(pur.shape) # 300, 200
    arr_pur = np.asarray(pur)
    arr_pur = arr_pur.reshape(300, 200, 1)
    all_pur.append(arr_pur)
    print(filename)
    
all_pur_arr = np.asarray(all_pur)
all_pur_arr.shape # 10, 300, 200, 1

DEPT/백화점_구매지수_1.csv
DEPT/백화점_구매지수_2.csv
DEPT/백화점_구매지수_3.csv
DEPT/백화점_구매지수_4.csv
DEPT/백화점_구매지수_5.csv
DEPT/백화점_구매지수_6.csv
DEPT/백화점_구매지수_7.csv
DEPT/백화점_구매지수_8.csv
DEPT/백화점_구매지수_9.csv
DEPT/백화점_구매지수_10.csv

(10, 300, 200, 1)

In [28]:
arr_sales.shape, all_pur_arr.shape

((10, 1), (10, 300, 200, 1))

In [29]:
pur.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,0.000000,0.000000,0.291001,0.000000,0.930477,0.003941,0.633964,0.569072,0.752789,0.400658,...,0.910817,0.726576,0.700697,0.881426,0.000000,0.000000,0.988583,0.0,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.624758,0.000000,0.553240,0.000000,0.154412,0.000000,...,0.043313,0.000000,0.174381,0.277516,0.000000,0.000000,0.000000,0.0,0.302917,0.437671
2,0.985922,0.675851,0.312712,0.000000,0.000000,0.549046,0.163887,0.947048,0.000000,0.639319,...,0.000000,0.000000,0.000000,0.542946,0.153556,0.000000,0.000000,0.0,0.000000,0.000000
3,0.213916,0.328353,0.601851,0.827707,0.005857,0.000000,0.000000,0.281988,0.029297,0.160630,...,0.538907,0.000000,0.102391,0.413937,0.000000,0.584150,0.885567,0.0,0.405937,0.000000
4,0.603476,0.000000,0.982673,0.000000,0.870458,0.000000,0.000000,0.918388,0.195974,0.000000,...,0.000000,0.000000,0.946858,0.248631,0.349236,0.644714,0.842244,0.0,0.700378,0.645818

In [32]:
cnt = 1
sales_train = []
sales_valid = []
sales_test = []

for i in arr_sales:
    if cnt <= 3:
        sales_train.append(i)
    elif cnt > 3 and cnt <= 4:
        sales_valid.append(i)
    else:
        sales_test.append(i)
        
    print(cnt)
    cnt +=1
    
arr_sales_train = np.asarray(sales_train)
arr_sales_test = np.asarray(sales_test)
arr_sales_valid = np.asarray(sales_valid)

1
2
3
4
5
6
7
8
9
10

In [33]:
arr_sales_train.shape, arr_sales_valid.shape, arr_sales_test.shape

((3, 1), (1, 1), (6, 1))

In [34]:
cnt = 1
pur_train = []
pur_valid = []
pur_test = []

for i in arr_pur:
    if cnt <= 3:
        pur_train.append(i)
    elif cnt > 3 and cnt <= 4:
        pur_valid.append(i)
    else:
        pur_test.append(i)
        
    print(cnt)
    cnt +=1
    
arr_pur_train = np.asarray(pur_train)
arr_pur_test = np.asarray(pur_test)
arr_pur_valid = np.asarray(pur_valid)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300

In [ ]:
arr_sales_train.shape, arr_sales_valid.shape, arr_sales_test.shape